// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #f5f1da;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$navy: #00416d;
$light-orange: #f8bd7f;
$light-beige: #f5f1da;
$beige: #e3dfc8;
